<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>最代码-最全面，最专业的代码分享站</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description"
	content="最代码  www.zuidaima.com 提供最全面，最专业的代码分享站，近万名用户分享超过1万份高质量的代码" />
<meta name="keywords"
	content="代码,代码分享,代码例子,源码,java代码，javascript代码,最代码,程序" />
<link href="http://www.zuidaima.com/favicon.ico" rel="shortcut icon"
	type="image/x-icon" />
<link href="css/bootstrap.min.css" rel="stylesheet" />
<script src="js/jquery.1.10.2.min.js"></script>
</head>
<body class="container">
	<div class="row">
		<div class="col-xs-12">
			<form method="post" id="user">
				请输入用户名:<input name="name" type="text" />
				<input type="submit" value="提交"/>
			</form>
		</div>
	</div>
</body>
</html>